{:name            "StatusChat"
 :builds          {} ; Make spec happy
 :js-modules      ["react-native"
                   "react-native-linear-gradient"
                   "react-native-fast-image"]
 :figwheel-bridge "./figwheel-bridge.js"
 :resource-dirs   ["resources"]}
