{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure       {:mvn/version "1.9.0"}
           org.clojure/clojurescript {:mvn/version "1.10.520"}
           reagent                   {:mvn/version "0.8.1"}
           re-frame                  {:mvn/version "0.10.9"}
           binaryage/oops            {:mvn/version "0.6.4"}}
 :aliases {:repl {:extra-deps
                  {cider/piggieback  {:mvn/version "0.4.0"
                                      :exclusions  [com.google.javascript/closure-compiler]}
                   figwheel-sidecar  {:mvn/version "0.5.18"
                                      :exclusions  [com.google.javascript/closure-compiler]}
                   re-frisk-remote   {:mvn/version "0.5.5"}
                   re-frisk-sidecar  {:mvn/version "0.5.7"}
                   cider/cider-nrepl {:mvn/version "0.21.0"}
                   refactor-nrepl    {:mvn/version "2.4.0"}

                   clj-rn {:git/url "https://github.com/status-im/clj-rn"
                           :sha     "db8b76c02af8fbec70a22130cc8c47c120858dd1"}}}
           :lint {:extra-deps {clj-kondo {:mvn/version "2019.09.22-alpha"}}}}}
